/*-- scss:defaults --*/

// use litera as the base
// https://github.com/thomaspark/bootswatch/tree/v5/dist/litera
$theme: "litera" !default;

h2, .h2 {
  padding-top: 1.8rem;
}

h3, .h3 {
  padding-top: 1.8rem;
}

h4, .h4 {
  padding-top: 1.2rem;
}

h5, .h5 {
  padding-top: 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


$white:    #fff !default;
$gray-100: #F8F8FA !default;
$gray-200: #E9E9EF !default;
$gray-300: #DCDCE6 !default;
$gray-400: #CECEDA !default;
$gray-500: #ADADBD !default;
$gray-600: #868696 !default;
$gray-700: #494957 !default;
$gray-800: #343440 !default;
$gray-900: #212129 !default;
$black:    #000 !default;

$pink: #D4006A;
$blue: #006AD4;
$green: #00D46A;
$cyan: #00D4D4;
$red: #D40000;
$indigo: #0000D4;
$purple: #6A00D4;
$orange: #D46A00;
$yellow: #D4D400;
$darker-green: #008542;

$primary:       $pink !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

$second-color:  $purple;
$third-color:   $blue;

// font sizes;
$font-size-base:   1rem !default; // Assumes the browser default, typically `16px`
$h1-font-size:     $font-size-base * 2.5 !default;
$h2-font-size:     $font-size-base * 2 !default;
$h3-font-size:     $font-size-base * 1.75 !default;
$h4-font-size:     $font-size-base * 1.5 !default;
$h5-font-size:     $font-size-base * 1.25 !default;
$h6-font-size:     $font-size-base !default;
$code-font-size: $font-size-base;

// colour tweaks to theme
$body-bg: $light;
$body-color: $dark;
$navbar-bg: $body-bg;
$navbar-fg: $body-color;
$code-bg: $light;
$code-color: $second-color;
$card-bg: $body-bg;
$card-border-color: $gray-300;


code {
    font-feature-settings: 'dlig' 0, 'liga' 0, 'calt' 1, 'zero' 1, 'ss02' 0;
}

code span.co {
  font-family: "MonoLisa-RegularItalic", "Fira Mono", monospace;
}

h1 code {
  font-size: $h1-font-size;
}

h2 code {
  font-size: $h2-font-size;
}

h3 code {
  font-size: $h3-font-size;
}

h4 code {
  font-size: $h4-font-size;
}

h5 code {
  font-size: $h5-font-size;
}

h6 code {
  font-size: $h6-font-size;
}

// callouts
$callout-color-note: $blue;
$callout-color-tip: $darker-green;
$callout-color-caution: $purple;
$callout-color-warning: $orange;
$callout-color-important: $red;


/*-- scss:rules --*/

// color classes
.primary {
    color: $primary;
}

.second-color {
  color: $second-color;
}

.third-color {
  color: $third-color;
}

// code
pre.sourceCode {
  border-radius: 0;
  border-left-color: $gray-300;
}

// light vs dark modes
.light-mode {
  display: block; 
}
.dark-mode {
  display: none;
}

// links
a {
  color: $body-color;
  text-decoration-thickness: 1px;
  //text-underline-offset: .1rem;
  //text-underline-position: under;
}

a:hover {
  color: $primary;
  text-decoration-color: $primary;
}

.toc-actions a {
  text-decoration: none !important;  
  border-bottom: 0;
}

.toc-actions a:hover {
  color: $primary;
}

div.tippy-content a:hover {
  text-decoration-color: $primary;
}

// navbar
.navbar-title {
  font-size: $font-size-base * 1.75;
}

// the line in the navbar logo
// animation defined in ek-styles.css
.icon-line {
  display: block;
  background: $primary;
  width: 100%;
  height: 6px;
  margin: auto;
  display: table;
  margin-top: -6px;
  margin-bottom: -6px;
}


// hover on navbar
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: $primary;
}
.navbar-expand-lg .navbar-nav .nav-link.active {
  color: $primary;
}

// then override colors so they match cards
#navbarCollapse > ul > li:nth-child(2) > a:hover,
#navbarCollapse > ul > li:nth-child(4) > a:hover {
  color: $second-color;
}

#navbarCollapse > ul > li:nth-child(2) > a.nav-link.active,
#navbarCollapse > ul > li:nth-child(4) > a.nav-link.active {
  color: $second-color;
}

#navbarCollapse > ul > li:nth-child(3) > a:hover,
#navbarCollapse > ul > li:nth-child(5) > a:hover {
  color: $third-color;
}

#navbarCollapse > ul > li:nth-child(3) > a.nav-link.active,
#navbarCollapse > ul > li:nth-child(5) > a.nav-link.active {
  color: $third-color;
}

// stop the name in my icon from changing colour on hover
.navbar-title:hover {
  color: $body-color;
}

// animated underline on hover, when navbar shows as row
@media screen and (min-width: 992px) {
  a.nav-link {
    position: relative;
  }
  
  .navbar .navbar-nav .nav-item {
    position: relative;
  }
  
  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $primary;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.3s;
  }
  
  .navbar .navbar-nav .nav-item:nth-child(2)::after, 
  .navbar .navbar-nav .nav-item:nth-child(4)::after {
    background-color: $second-color;
  }
  
  .navbar .navbar-nav .nav-item:nth-child(3)::after, 
  .navbar .navbar-nav .nav-item:nth-child(5)::after {
    background-color: $third-color;
  }
  
  .navbar .navbar-nav .nav-item:hover::after {
    width: 90%;
  }
}


#quarto-header {
  text-transform: capitalize;
  font-family: $headings-font-family;
}

.heading-font {
  font-family: $headings-font-family;
  //font-family: "LEMONMILKPro-Regular", Jost, Helvetica, sans-serif;
}

.home-header {
  font-family: $headings-font-family;
  font-size: $font-size-base * 3;
}

h2, .h2 {
    border-bottom: 1px solid $gray-300;
    padding-bottom: .5rem;
}


.ar4x3 {
  aspect-ratio: 4 / 3;  
}

.ar3x2 {
  aspect-ratio: 3 / 2;  
}

// icon-links
.icon-link, div.quarto-about-jolla .about-link {
    background-color: transparent;
    color: $primary;
    //border: 2px solid !important;
    border: 2px solid;
    border-color: $primary;
    padding: 5px .4rem 5px .4rem !important;
    margin-top: 4px;
    margin-right: 8px;
    margin-bottom: 4px;
    border-radius: 5px; 
    display: inline-block;
    text-decoration: none;
}

.icon-link:hover, div.quarto-about-jolla .about-link:hover{
    background-color: $primary;
    color: $body-bg;
    border-color: $primary;
    text-decoration: none;
}

.second-color-link{
    background-color: $second-color;
    border-color: $second-color;
    color: $body-bg;
}

.second-color-link:hover {
  color: $second-color;
  border-color: $second-color;
}

.third-color-link{
    background-color: $third-color;
    border-color: $third-color;
    color: $body-bg;
}

.third-color-link:hover {
  color: $third-color;
  border-color: $third-color;
}
